#find{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    h2 {
      color: var(--golden);
    }
    p.direction {
      margin-bottom: 40px;
    }
    h3.title {
      color: var(--golden);
    }
    .working-hours {
      margin-bottom: 50px;
    }
    .container {
      z-index: 2;
    }
}