.logo {
  a {
    font-size: 2rem;
    color: var(--white);
    text-decoration: none;
    font-family: "Cormorant Upright", serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
}
