@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --white2: #aaaaaa;
  --black: #000;
  --golden: #dcca87;
  --black2: #0c0b08;
  --golden2: #f5efdb;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  font-size: 16px;
  background-color: var(--black2);
  color: var(--white2);
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font-open-sans), "Open Sans", sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cormorant), "Cormorant Upright", serif;
  margin: 0;
}

p {
  margin: 0;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

.container {
  max-width: 1300px;
  margin: auto;
  width: 100%;
  position: relative;
}

.justify-center {
  justify-content: center !important;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element {
  padding-left: 15px;
  padding-right: 15px;
}

.element-50 {
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
}

.element-40 {
  padding-left: 15px;
  padding-right: 15px;
  width: 40%;
}

.element-30 {
  padding-left: 15px;
  padding-right: 15px;
  width: 30%;
}

.element-20 {
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
}

.no-gutter {
  padding: 0 !important;
}

.button {
  padding: 8px 38px;
  border-radius: 0;
  color: var(--black2);
  text-decoration: none;
  font-family: "Cormorant Upright", serif;
  border: 1px solid var(--golden);
  background-color: var(--golden);
  font-weight: bold;
  transition: 0.5s all;
  appearance: none;
  display: inline-block;
}

.button:hover {
  background-color: transparent;
  color: var(--golden);
}

@media (max-width: 991px) {
  .element-50,
  .element-40,
  .element-20,
  .element-30 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  .row {
    flex-direction: column;
    flex-flow: wrap;
  }

  .element,
  .center {
    width: 100% !important;
  }

  .onlyMobil {
    display: block !important;
  }

  .onlyDesktop {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .onlyMobil {
    display: none !important;
  }

  .onlydesktop {
    display: block !important;
  }

  .element {
    width: 25%;
  }

  .element.center {
    width: 38%;
  }
}

.bg-overlay {
  background-image: linear-gradient(90deg, #000000 0%, #0000 100%), url("/BG.webp");
  background-size: cover;
}

.footer-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
  position: relative;
}

.hero-rotate {
  writing-mode: horizontal-tb;
  transform: rotate(-90deg);
}

.form-wrapper {
  max-width: 1270px;
  width: calc(100% - 15px);
  margin: auto;
  display: block;
  position: relative;
  background: var(--black2);
  border: 1px solid rgba(220, 202, 135, 0.2);
  margin-bottom: 120px;
}

.form-wrapper h2 {
  font-size: 1.3rem;
  margin-bottom: 0.8em;
  font-family: "Cormorant Upright", serif;
}

.form-wrapper h3 {
  font-size: 4rem;
  text-align: center;
  line-height: 0.9;
  color: var(--golden);
  letter-spacing: 1.2px;
  margin: 20px 0;
}

@media (max-width: 991px) {
  .form-wrapper h3 {
    font-size: 2rem;
  }
}

.form-wrapper .form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
}

.form-wrapper form {
  max-width: 730px;
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
}

.form-wrapper form label {
  display: block;
  min-width: 100%;
}

.form-wrapper input[type="email"] {
  background-color: transparent;
  height: 60px;
  font-size: 1rem;
  border: 1px solid #f5efdb;
  padding: 10px;
  font-family: "Cormorant Upright", serif;
  width: 100%;
  color: var(--white2);
}

.form-wrapper input[type="email"]::placeholder {
  color: var(--white2);
}

.form-wrapper input[type="email"]:focus {
  outline: none;
}

@media (max-width: 991px) {
  .form-wrapper form {
    flex-direction: column;
    align-items: center;
  }

  .form-wrapper .form-content {
    padding: 30px 10px;
  }

  .form-wrapper {
    margin-bottom: 44px;
  }
}

.image-container-wrapper {
  position: relative;
  padding: 15px;
}

.image-container-wrapper .image-product {
  z-index: 9999;
  position: relative;
}

.image-container-wrapper img.rectangle {
  position: absolute;
  max-width: 100%;
}

.image-container-wrapper img.rectangle-1 {
  top: 0;
  right: 0;
}

.image-container-wrapper img.rectangle-2 {
  bottom: 0;
  left: 0;
}

@media (max-width: 768px) {
  .image-container-wrapper img.rectangle {
    width: 45%;
    height: 45%;
  }
}

/* Modal */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  display: none;
}

.modal-wrapper .modal-overlay {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.modal-wrapper .modal {
  position: relative;
  width: 100%;
  margin: 10px;
  max-width: 700px;
  background: var(--black2);
  border-radius: 0;
  padding: 20px;
  border: 2px solid var(--golden);
}

.modal-wrapper .modal-header {
  position: relative;
  border-bottom: 1px solid var(--golden);
  margin-bottom: 10px;
}

.modal-wrapper .modal-header h2 {
  text-align: center;
  font-size: 2rem;
  color: white;
}

.modal-wrapper .modal-header button.closer {
  position: absolute;
  top: -9px;
  right: -7px;
  font-size: 23px;
}

.modal-wrapper .modal-body {
  margin-bottom: 10px;
  border-bottom: 1px solid var(--golden);
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--golden) var(--black2);
}

.modal-wrapper .modal-body h2,
.modal-wrapper .modal-body h3,
.modal-wrapper .modal-body h4,
.modal-wrapper .modal-body h5,
.modal-wrapper .modal-body h6 {
  font-size: 1.2rem;
  line-height: 1.2;
  margin: 0 0 10px 0;
  color: var(--golden);
}

.modal-wrapper .modal-body p {
  color: white;
}

.modal-wrapper .modal-body span {
  color: var(--white2);
}

/* About section */
#aboutus {
  display: flex;
  align-items: center;
  background-size: cover;
}

#aboutus h2 {
  color: var(--golden);
}

#aboutus .container {
  justify-content: center;
  padding: 128px 0;
}

#aboutus .container .knife {
  width: 20%;
  max-width: 100px;
}

#aboutus .about-container {
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  align-items: center;
}

@media (max-width: 991px) {
  #aboutus .container {
    padding: 60px 0;
  }

  #aboutus .container .row {
    flex-flow: column;
  }

  #aboutus .container .about,
  #aboutus .container .history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  #aboutus .container .knife {
    transform: rotate(-90deg);
    width: 114px !important;
    max-width: 11% !important;
  }
}

@media (min-width: 992px) {
  #aboutus .container .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    gap: 20px;
  }

  #aboutus .container .history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 20px;
  }
}

/* Chef section */
#chef {
  display: flex;
  align-items: center;
  background-size: cover;
  padding: 120px 10px;
  position: relative;
  z-index: 1;
}

#chef p.subtitle {
  font-size: 1.5rem;
  font-family: "Cormorant Upright", serif;
  color: var(--white);
}

#chef .firmImage {
  max-width: 235px;
}

#chef h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 60px;
  color: var(--white2);
}

#chef h3 {
  color: var(--golden);
  letter-spacing: 2px;
  font-size: 2.3rem;
  margin-bottom: 10px;
}

#chef h2.title {
  font-size: 4rem;
  color: var(--golden);
  margin-bottom: 3rem;
  letter-spacing: 4px;
}

#chef p.text-Chef {
  text-align: justify;
  font-size: 1rem;
  line-height: 2;
  font-style: italic;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  #chef {
    padding: 60px 10px;
  }
}

.goTobutton {
  position: fixed;
  bottom: 20%;
  right: 8vw;
  cursor: pointer;
  background: transparent;
  border: none;
  text-decoration: none;
  z-index: 99;
}

.goTobutton:focus {
  outline: none;
}

.goTobutton::before {
  content: "";
  margin: auto;
  display: block;
  height: 61px;
  width: 1px;
  background: var(--golden);
}

.video-overlay .outlinePlay {
  border: 1px solid var(--golden);
  padding: 20px;
  background-color: transparent;
  appearance: none;
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
  transition: 0.5s all;
}

.video-overlay .outlinePlay svg {
  fill: var(--white);
  height: 45px;
  width: 45px;
  transition: 0.5s;
}

.video-overlay.active .outlinePlay {
  opacity: 0;
  transition: 0.5s all;
}

.video-overlay.active .outlinePlay:hover {
  opacity: 1;
}

.instagram-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.64) 54%,
    rgba(0, 0, 0, 0.8) 100%
  );
  cursor: pointer;
  transition: 0.3s all;
}

.instagram-overlay svg {
  width: 44px;
  height: 44px;
}

.instagram-overlay:hover {
  opacity: 1;
}

.swiper-pagination {
  position: relative;
  display: flex;
  color: white;
  font-size: 17px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.swiper.swiper-initialized {
  display: flex;
  flex-direction: column-reverse;
}

span.hero-counter {
  color: var(--white);
  opacity: 1;
  background: transparent;
  font-family: "Cormorant Upright", serif;
  font-size: 1.5rem;
  padding: 8px;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

span.hero-counter.swiper-pagination-bullet-active::after {
  content: "";
  display: block;
  height: 1px;
  width: 17px;
  background: var(--golden);
}

.menu-home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 120px 30px;
}

.menu-home .container-slide {
  margin: auto;
  max-width: 1300px;
}

.menu-home .swiper-button-next,
.menu-home .swiper-button-prev {
  color: var(--golden);
}

.menu-home .swiper-button-disabled {
  display: none;
}

.menu-home .row {
  justify-content: center;
}

.menu-home .product {
  margin-bottom: 40px;
}

.menu-home .product .rowProduct {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.menu-home .product .rowProduct p.size {
  font-size: 0.7rem;
}

.menu-home .product .rowProduct .price {
  font-family: "Cormorant Upright", serif;
  font-size: 1.3rem;
  color: var(--white);
}

.menu-home .product .rowProduct p.price,
.menu-home .product .rowProduct p.size {
  margin: 0;
  display: flex;
  line-height: 1;
  align-items: center;
}

.menu-home .product .rowProduct p.price .separate,
.menu-home .product .rowProduct p.size .separate {
  width: 120px;
  height: 1px;
  border-top: 1px solid var(--white2);
  margin-right: 10px;
}

.menu-home .product .rowProduct ul.ingredients {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-inline-start: 0;
  flex-flow: wrap;
  margin: 0;
}

.menu-home .product .rowProduct ul.ingredients li {
  padding: 0 5px;
  border-right: 1px solid var(--white2);
  line-height: 1;
  font-size: 0.7rem;
}

.menu-home .product .rowProduct ul.ingredients li:last-of-type {
  border-right: none;
}

.menu-home .product .rowProduct h4.title {
  color: var(--golden);
}

.menu-home h2 {
  text-align: center;
  color: var(--golden);
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.menu-home .swiper-slide {
  width: 100% !important;
}

.menu-home .swiper-slide .row {
  align-items: flex-start;
}

.menu-home .swiper-slide .container-slide h3 {
  text-align: center;
  color: white;
  font-size: 2.8rem;
}

.menu-home p.subtitle {
  text-align: center;
  font-family: "Cormorant Upright", serif;
  font-size: 22px;
  line-height: 1;
  color: var(--white);
}

.menu-home .container-menus {
  max-width: 90%;
}

@media (max-width: 991px) {
  .menu-home {
    padding: 60px 10px;
  }

  .menu-home .container-menus {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .menu-home h2 {
    font-size: 3.5rem;
    color: var(--golden);
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
}

.gallery-home {
  background-size: cover;
}

.gallery-home .gallery-container {
  display: flex;
  gap: 20px;
  align-items: center;
  min-height: 447px;
  justify-content: center;
  padding: 100px 0;
}

.gallery-home .gallery-container .call-to-action-gallery {
  width: 30%;
}

.gallery-home .gallery-container .call-to-action-gallery .text-content {
  padding: 12%;
}

.gallery-home .gallery-container .instagram-gallery {
  width: 70%;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .gallery-home .gallery-container {
    flex-direction: column;
  }

  .gallery-home .gallery-container .call-to-action-gallery {
    width: 100%;
  }

  .gallery-home .gallery-container .call-to-action-gallery .text-content {
    padding: 12%;
  }

  .gallery-home .gallery-container .instagram-gallery {
    width: 100%;
  }
}

.award-wrapper .row-trophy {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.award-wrapper .row-trophy .trophy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.award-wrapper .row-trophy .trophy h5 {
  color: var(--golden);
}

.award-wrapper .row-trophy .trophy p {
  color: var(--white2);
  margin-bottom: 0;
}

.award-wrapper .container-award {
  padding-top: 50px;
  padding-bottom: 70px;
}

.award-wrapper .container-award .row-award {
  margin-left: 20%;
  margin-top: 16%;
}

.award-wrapper .container-award .row-award h2 {
  color: var(--golden);
  margin-bottom: 25px;
}

.award-wrapper .container-award .row-award .row-content {
  height: 100%;
  margin-top: 11%;
  width: 100%;
}

.award-wrapper .container-award .row {
  align-items: flex-start;
}

.award-wrapper .container-award .row .imageaWard {
  position: relative;
}

.award-wrapper .container-award .row .imageaWard .gImage {
  position: absolute;
  bottom: 0;
  left: 0;
}

.award-wrapper .container-award .row .imageaWard .steak {
  padding-left: 10%;
  padding-top: 10%;
}

@media (max-width: 991px) {
  .award-wrapper .container-award .row-award {
    margin-left: 0;
    margin-top: 16%;
  }
}
